<ion-menu [content]="contenidoMesas">
  <ion-header>
    <ion-toolbar>
      <ion-title>Mesas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label stacked>Fecha reserva</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY hh:mm A" pickerFormat="DD/MM/YYYY hh:mm A" doneText="Aceptar" cancelText="Cancelar"
        [(ngModel)]="fechaReserva">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cantidad personas</ion-label>
      <ion-input type="number" value="1" min="1" max="6"></ion-input>
    </ion-item>
    <ion-item *ngFor="let filtro of filtrosMesas">
      <ion-label>{{ filtro }}</ion-label>
      <ion-checkbox color="primary" checked="false"></ion-checkbox>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mesas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #contenidoMesas>
  <div class="restaurant">
    <ol class="cabin fuselage">
      <li *ngFor="let fila of restaurant.filasMesasInterior">
        <ol class="seats">
          <li *ngFor="let mesa of fila" class="seat">
            <input type="checkbox" [id]="mesa.id" [disabled]="mesa.reservada" (click)="seleccionarMesa(mesa)" />
            <label [attr.for]="mesa.id">{{ mesa.cantidadAsientos }}</label>
          </li>
        </ol>
      </li>
    </ol>
    <div class="exit exit--back fuselage">
    </div>
    <ol class="cabin">
      <li *ngFor="let fila of restaurant.filasMesasExterior">
        <ol class="seats">
          <li *ngFor="let mesa of fila" class="seat">
            <input type="checkbox" [id]="mesa.id" [disabled]="mesa.reservada" (click)="seleccionarMesa(mesa)" />
            <label [attr.for]="mesa.id">{{ mesa.cantidadAsientos }}</label>
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <ion-fab [hidden]="!mostrarFab" right bottom>
    <button [disabled]="!habilitarFab" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>